{% extends '_base.html' %}
{% block title %}Blogs{% endblock title %}
{% block content %}
    <div id="content">
        {% if user.is_authenticated %}
            <h1>{{ user|title }} Blog</h1>
        {% else %}
        <h1>Blog</h1>
        {% endif %}
        {% for post in posts %}
            <h2>
                <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
            </h2>
            <p class="date">
                Published {{ post.publish }} by {{ post.author }}
            </p>
            {{ post.body|truncatewords:30|linebreaks }}
        {% endfor %}
        {% include 'pagination.html' with page=page_obj %}
    </div>
    <div id="sidebar">
        <h2>My blog</h2>
        <p>This is my blog.</p>
    </div>   
{% endblock content %}